
@media only screen and (max-width: 980px) 
{
    .set
{
display:flex;
flex-direction:column;
gap:10px;
position: sticky;
padding:5px;
font-size: 14px;
top: 0;
overflow-y: hidden !important;
margin:10px;
height: auto !important;
}
}
.set
{
display:flex;
flex-direction:column;
gap:10px;
overflow-y: scroll;
position: sticky;
padding:5px;
height: 100vh;
font-size: 14px;
top: 0;
margin:10px;
}