*
{
    margin:0;
    padding:0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: none !important;
  }
  .css-1w1rijm-MuiButtonBase-root-MuiButton-root
{
    outline: none !important;
    border-color: transparent !important;
    border:none !important;
}
.css-vubbuv
{
    outline: none !important;
    border-color: transparent !important;
    border:none !important;
}
.css-5bcq5j
{
    outline: none !important;
    border-color: transparent !important;
    border:none !important;
    color:transparent !important;
    background-color: transparent !important;
}
::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(209, 208, 208, 0.7);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(209, 208, 208, 0.7);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.7);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(62, 62, 62, 0.7);

  }  
