.joinBtn
{
    width:180px;
    border:none;
    border-radius:20px;
    cursor: pointer;
}
.jfdiujssd:focus {
    outline: 0 !important;
    border:none !important;
}
@media only screen and (max-width: 980px) 
{
    .igrkdfijlilre
    {
        display: block !important;
        margin:0 auto !important;
        margin:30px !important;
    }
    .iudkjfe
    {
        font-size: 14px !important;
    }

}
    @media only screen and (max-width: 1480px) 
{
    .igrkdfijlilre
    {
  
        margin:50px !important;
    }}
@media only screen and (max-width: 880px) 
{
    .iuhdfkjfd
    {
        width:400px;
        height:260px;
    }
    .hukjdhsfws
    {
        font-size: 15px !important;
    }
    .igrkdfijlilre
    {
        display: block !important;
        margin:0 auto !important;
        margin:30px !important;
    }
.uysdijnij 
{
    font-size: 12px;
}
.uekdhjsn
{
    text-align: center;
    font-size: 20px;
}
.ghfdgfsfsrd
{
    text-align: center;
    font-size: 18px !important;
}
.budijsk
{
    text-align: center !important;
}
.iudhsejwksl
{
    text-align: center !important;
    font-size: 18px !important;
}
}

@media only screen and (min-width: 994px) and (max-width: 1200px)  {
    .hukhsdgyuides
    {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
    }
  }
  @media only screen and (min-width: 894px) and (max-width: 1200px)  {
    .eoidslj
    {
        width: 140px;
    }
      }
.btn123:focus
{
    outline: "none" !important;
    border: 0px solid transparent !important;
}
